.titulo {
    color: #777777;
    text-align: center;

  }
body {
  background-color: #56FFB8;
}
.adax{
  background-color: #D74E4E;
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
  margin-left: 29%;
  margin-right: 29%;
  margin-top: 2%;
  display: inline-block;
  border-radius: 20px;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
}
