.titulo {
    color: #777777;
    text-align: center;

  }
body {
  background-color: #56FFB8;
}
.adax{
  background-color: #D74E4E;
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
  margin-left: 29%;
  margin-right: 29%;
  margin-top: 2%;
  display: inline-block;
  border-radius: 20px;
  padding-left: 3%;
  padding-right: 3%;
  text-align: center;
  padding-bottom: 1px;
  padding-top: 1px;
}
.title{
  font-weight: normal;
  font-style: normal;
}
.contenedorarriba{
  width: 100%;
  text-align: center;
}
.back{
  font-size: 43px;
  border-color: transparent;
  background-color: transparent;
  display: inline-block;
  margin-left: 2%;
}
.exit{
  font-size: 45px;
  border-color: transparent;
  background-color: transparent;
  display: inline-block;
  margin-right: 2%;
}