body {
    background-color: #56FFB8;
  }
  .title{
    font-weight: normal;
    font-style: normal;
  }
  .contenedorarriba{
    display: flex;
    width: 100%;
    margin: 0px auto;
    margin-top: 3em;
  }
  .adax{
    background-color: #D74E4E;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    left: 50%;
    transform: translate(14%);
  
  }
  .exit{
    font-size: 45px;
    border-color: transparent;
    background-color: transparent;
    display: inline-block;
    margin-right: 1em;
    transition: transform 0.3s ease;
    width: 90px;
  }
  .exit:hover{
    transform: scale(1.2);
  }

  .Contenedorsesion {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 5%;
    width: 30%;
    height: 20em;
  }
  .cuadradoverde {
    background-color:rgba(75,215,156,255);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 10%;
    height: 100%;
    width: 100%;
    border-radius: 1em;
    text-align: left;
  }
  .cuadradoverde button {
    margin: 0 auto;
    margin-top: 10%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  input {
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    border-color:transparent;
  }
  .button2 {
    width: 50%;
    display: flex;
    margin: 0 auto;
  }

