body {
  background-color: #56FFB8;
}

.title {
  font-weight: normal;
  font-style: normal;
}

.contenedorarriba {
  display: flex;
  width: 100%;
  margin: 0px auto;
  margin-top: 3em;
}

.adax {
  background-color: #D74E4E;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  left: 50%;
  transform: translate(14%);
}

.exit {
  font-size: 45px;
  border-color: transparent;
  background-color: transparent;
  display: inline-block;
  margin-right: 1em;
  transition: transform 0.3s ease;
  width: 90px;
}

.exit:hover {
  transform: scale(1.2);
}

.Contenedorsesion {
  margin: auto;
  margin-top: 2%;
  display: flex;
  width: 50%;
  height: 500px;
  justify-content: center;
  align-items: center;
}

.cuadradoverde {
  border-radius: 5px;
  background-color: rgba(75, 215, 156, 255);
  padding: 2%;
  width: 55%;
  height: 90%;
  margin-left: 2.5%;
  border-radius: 2em;
}

.cuadradoverde .titulo {
  text-align: center;
}

input {
  width: 100%;
  border-radius: 10px;
  padding-left: 10px;
  border-color: transparent;
}
.button2 {
  background-color: #ff0000;
  display: flex;
  margin: auto;
  width: 30%;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  border-radius: 10px;
  text-align: center;

}

.contrasena {
  margin-top: 5%;
}

a {
  text-decoration:none;
  color: red;
}

p {
  margin-top: 15px;
}