.titulo {
    color: #777777;
    text-align: center;

  }
body {
  background-color: #56FFB8;
}
.adax{
  background-color: #D74E4E;
  font-family: 'Montserrat';
  font-size: 20px;
  text-align: center;
  margin-left: 27% ;
  margin-right: 27% ;
  margin-top: 10px;
  display: inline-block;
  border-radius: 20px;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 1px;
  padding-top: 1px;
  flex: 1;
}
.title{
  font-weight: normal;
  font-style: normal;
}
.contenedorarriba{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back{
  font-size: 43px;
  border-color: transparent;
  background-color: transparent;
  display: inline-block;
  margin-left: 10px;
  text-align: left;
  transition: transform 0.3s ease;
}
.back:hover{
  transform: scale(1.2);
}
.exit{
  font-size: 45px;
  border-color: transparent;
  background-color: transparent;
  display: inline-block;
  margin-right: auto;
  text-align: right;
  transition: transform 0.3s ease;
}
.exit:hover{
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .contenedorarriba {
    flex-direction: column; /* Cambia a un diseño de columna */
    align-items: stretch; /* Estira los elementos verticalmente */
  }
  
  .back, .exit {
    margin: 0; /* Elimina el margen en la dirección de la columna */
  }
}



.container {
  display: flex;
  justify-content: center;

}

.column {
  margin: 20px;
}

.boton {
  background-color: #4BD79C;
  font-size: 40px;
  width: 250px;
  cursor: pointer;
  height: 125px;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  font-family: 'Montserrat'; 
  font-weight: 500;
  position: relative;
  border: none;
  transition: transform 0.3s ease;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 5%;
  padding-bottom: 5%;
}
.boton:hover {
  transform: scale(1.1);
}

.imagen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.boton:hover.imagen {
  opacity: 1;
}


.textogrande{
  font-size: 40px;
  text-align: center;
}

.userdiv{
  background-color: #4BD79C;
  width: 95.5%;
  height: 45px;
  border-radius: 15px;
  bottom: 9px;
  position: absolute;
  display: flex;
  margin-left: 15px;
  margin-right: 15px;
  z-index: 1;
  justify-content: space-between; /* Añadido */
  padding: 0 10px; /* Añadido para espacio entre el contenido y los bordes */
}
footer{
  font-family: "Montserrat";
}
.textomediano{
  font-size: 20px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 1px;
}
.cerrarsesion{
  width: 150px;
  height: 30px;
  background-color: #D74E4E;
  border-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-top: 7px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}
.cerrarsesion:hover{
  transform: scale(1.1);
}
.textopequeño{
  font-family: "Montserrat";
  margin: 0;
  font-size: 15px;

}