body {
  background-color: #fcedc0;
}

.title {
  font-weight: normal;
  font-style: normal;
}


.contenedorarriba {  
  display: flex;
  width: 100%;
  margin: 0px auto;
}

@media only screen and (max-height: 800px) {
  .contenedorarriba {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0px auto;
  }
}


.adax {
  background-color: #df6363;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  border-radius: 20px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  width: fit-content;
  height: fit-content;
  display: flex;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}

@media only screen and (max-height:800px) {
  .adax {
    background-color: #df6363;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }
}


.back {
  font-size: 43px;
  border-color: transparent;
  background-color: transparent;
  margin-left: 2em;
  display: inline-block;
  transition: transform 0.3s ease;
}

.back:hover {
  transform: scale(1.2);
}

.exit {
  font-size: 45px;
  border-color: transparent;
  background-color: transparent;
  display: inline-block;
  margin-right: 2em;
  transition: transform 0.3s ease;
}

.exit:hover {
  transform: scale(1.2);
}

h1 {
  margin-bottom: none;
}
.page {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-column-gap: 30px;
  height: 4px;

}
.left-container {
  grid-column: 1;
}
.right-container {
  grid-column: 2  ;
}
.left-container, .right-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr 10fr;
  grid-auto-rows: auto;
  gap: 10px;
  padding: 3%;

}

@media only screen and (max-height: 800px) {
  .left-container, .right-container {
    display: grid;
    transform: translateX(20%);
    height: 400px;
    width: 40%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
  }
}


.big-text {
  grid-column: 1/-1;
}

.search {
  grid-column: 1/5;
  height: 70%;
  width: 100%;
  border: none;
  margin: auto 0;
  color: black;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.search:hover {
  border: 1px solid black;
}

.search-button {
  height: 80%;
  width: 100%;
  background-color: #df6363;
  margin: auto 0;
  color: black;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  justify-self: end;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-button:hover {
  background-color: #af3333;
  color: black;
}

.product-list {
  background-color: #ebd8a0;
  grid-column: 1/-1;
  grid-row: 3/-1;
  border-radius: 15px;
  align-items: center;
}

.thnombre {
  width: 70%;
  text-align: center;
}
th {
  text-align: center;
}
.tdbotondetalle {
  display: flex;
}
#detalle {
  background-color: #df6363;
  margin: 0 0;
  width: 100%;
  margin-top: 0;
  padding: 5px;
  color: black;
  border-radius: 15px;
  vertical-align: 1px;
  float: inline-start;
  margin-right: 20px;
}

#detalle:hover {
  background-color: #af3333;
  color: black;
}


.add-product {
  background-color: #ebd8a0;
  grid-column: 1/-1;
  grid-row: 2/7;
  border-radius: 15px;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.product-name, .product-price {
  grid-column: 1/-1;
  height: 3em;
  width: 100%;
  border: none;
  margin: auto 0;
  color: black;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-block-end: 10px;
}

.text-left {
  font-size: 23px;
  grid-row: 3/3;
  grid-column: 1/2;
}

.numero {
  grid-column: 2/3;
  grid-row: 3/3;
  height: 90%;
  width: 30%;
  border: none;
  margin: auto 0;
  color: black;
  border-radius: 15px;
  padding-left: 10px;
  padding-right: 10px;
  margin-block-end: 10px;
}

.añadir-producto {
  grid-column: 1/-1;
  grid-row: 4/6;
  background-color: #df6363;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  border-radius: 20px;
  width: 100%;
  height: 2.4em;
  margin: auto;
  text-align: center;
  color: #212529;
  border: none;
}

.proveedores {
  background-color: #ebd8a0;
  grid-column: 1/-1;
  grid-row: 7/-1;
  display: flex;
  flex-direction: column; 
  align-items: center; 
  gap: 10px; 
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.big-text-proveedores {
  width: 100%;
  text-align: center;
  font-size: 70px;
}

.gestionar-proveedores {
  width: 100%;
  height: 60%;
  background-color: #df6363;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 40px;
  border-radius: 20px;
  margin-top: 10px; 
  margin-bottom: 10px;
  text-align: center;
  color: #212529;
  border: none;
}

.gestionar-proveedores:hover {
  background-color: #af3333;
}

.proveedores .big-text-proveedores {
  font-size: 20px; 
  margin-bottom: 20px; 
}


.user {
  width: 98.5%;
  height: 45px;
  background-color: #ebd8a0;
  position: fixed;
  bottom: 1em;
  display: flex;
  border: 2px solid none;
  z-index: 1;
  justify-content: space-between;
  border-radius: 10px;
  padding: 2px 20px;
  transform: translateX(0.8%);
  align-content: center;
  text-align: center;
  align-items: center;
}

@media only screen  and (max-height: 600px) {
  .user {
    width: 98.5%;
    height: 45px;
    background-color: #ebd8a0;
    position: fixed;
    bottom: 0;
    display: flex;
    border: 2px solid none;
    z-index: 1;
    justify-content: space-between;
    border-radius: 10px;
    padding: 2px 20px;
  }
}

#cerrarsesion {
  height: fit-content;
  width: fit-content;
  background-color: #df6363;
  margin: auto 0;
  color: black;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

#cerrarsesion:hover {
  background-color: #af3333;
  color: black;
}

.username {
  font-size: 25px;
  align-content: center;
  text-align: center;
  line-height: 3;
}
