body {
    background-color: #fcedc0;
  }
.title{
    font-weight: normal;
    font-style: normal;
}
.contenedorarriba{  
    display: flex;
    width: 100%;
    margin: 0px auto;
    margin-top: 3em;
}
@media only screen and (max-height: 800px){
    .contenedorarriba{
      display: flex;
      width: 100%;
      height: 100px;
      margin: 0px auto;
    }
  }
.adax{
    background-color: #df6363;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}
@media only screen and (max-height:800px){
    .adax{
        background-color: #df6363;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 20px;
        border-radius: 20px;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 0.6em;
        padding-bottom: 0.6em;
        width: fit-content;
        height: fit-content;
        display: flex;
        margin: auto;
        margin-top: 10px;
        text-align: center;
    }
}
.back{
    font-size: 43px;
    border-color: transparent;
    background-color: transparent;
    margin-left: 2em;
    display: inline-block;
    transition: transform 0.3s ease;
}
.back:hover{
    transform: scale(1.2);
}
.exit{
    font-size: 45px;
    border-color: transparent;
    background-color: transparent;
    display: inline-block;
    margin-right: 1em;
    transition: transform 0.3s ease;
}
.exit:hover{
    transform: scale(1.2);
}
.page{
    display: flex;
}
.left-container{
    /* border: 2px solid black; */
    display: grid;
    transform: translateX(20%);
    height: 100%;
    width: 40%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}
@media only screen and (max-height: 800px){
    .left-container{
        /* border: 2px solid black; */
        display: grid;
        transform: translateX(20%);
        height: 400px;
        width: 40%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-auto-rows: auto;
        gap: 10px;
    }
}
.big-text{
    grid-column: 1/-1;
}
.search{
    grid-column: 1/ 5;
    height: 70%;
    width: 100%;
    border: none;
    margin: auto 0;
    color: black;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
.search:hover{
    border: 1px solid black;
}
#search-button {
    height: 80%;
    width: 100%;
    background-color: #df6363;
    margin: auto 0;
    color: black;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
    justify-self: end;
}
@media only screen and (max-height: 800px){
    #search-button {
        height: 80%;
        width: 100%;
        background-color: #df6363;
        margin: auto 0;
        color: black;
        border-radius: 15px;
        padding-left: 20px;
        padding-right: 20px;
        justify-self: end;
        padding-top: 0px;
    }
}
#search-button:hover{
    background-color: #af3333;
    color: black;
}
.cash-list{
    background-color: #ebd8a0;
    grid-column: 1/-1;
    grid-row: 2/9;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    border-radius: 15px;
    align-items: center;
    grid-template-rows: repeat(10, 1fr);
}

.cantidad-text{
    margin-left: 10px;
    grid-column: 1/3;
    font-size: 25px;
}

.mediodepago-text{
    margin-left: 10px;
    grid-column: 1/4;
    grid-row: 2/3;
    font-size: 25px;
}
.mediodepago-elegido{
    margin-left: 10px;
    grid-column: 5/-1;
    grid-row: 2/3;
    font-size: 25px;
    margin: 0 1em;
}
.estado-text{
    margin-left: 10px;
    grid-column: 1/4;
    grid-row: 3/4;
    font-size: 25px;
}
.estado{
    margin-left: 10px;
    grid-column: 5/-1;
    grid-row: 3/4;
    font-size: 25px;
    margin: 0 1em;
}
.total-recived{
    margin: 0 1em;
    grid-column: 5/-1;
    font-size: 25px;
}
.total-text{
    margin-left: 10px;
    grid-column: 1/3;
    grid-row: 9/10;
    font-size: 25px;
}
.total-cant-text{
    margin: 0 1em;
    grid-column: 5/-1;
    grid-row: 9/10;
    font-size: 25px;
}
.devolver-text{
    margin-left: 10px;
    grid-column: 1/3;
    grid-row: 10/11;
    font-size: 25px;
}
.devolver-cant-text{
    margin: 0 1em;
    grid-column: 5/-1;
    grid-row: 10/11;
    font-size: 25px;
}

.right-container{
    /* border: 2px solid black; */
    display: grid;
    transform: translateX(30%);
    height: 100%;
    width: 40%;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
}
@media only screen and (max-height:  800px) {

    .right-container{
        /* border: 2px solid black; */
        display: grid;
        transform: translateX(30%);
        height: 400px;
        width: 40%;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(10, 1fr);
        grid-auto-rows: auto;
        gap: 10px;
    }
}
.cart-list{
    background-color: #ebd8a0;
    grid-column: 1/-1;
    grid-row: 2/-1;
    border-radius: 15px;
    max-height: 61vh;
    align-items: center;
    overflow-y: scroll;
    scrollbar-width: thin;
}
.generar-pago{
    grid-column: 1/-1;
    grid-row: 9/-1;
    background-color: #df6363;
    font-weight: 700;
    font-size: 40px;
    border-radius: 20px;
    width: 100%;
    height: 80%;
    margin: auto;
    text-align: center;
    color: #212529;
    border: none;
}
.generar-pago:hover{
    background-color: #af3333;
}
@media only screen and (max-height: 800px){
    .generar-pago{
        grid-column: 1/-1;
        grid-row: 9/-1;
        background-color: #df6363;
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 20px;
        border-radius: 20px;
        width: 100%;
        height: 80%;
        margin: auto;
        text-align: center;
        color: #212529;
        border: none;
    }
}  
.user{
    width: 98.5%;
    height: 45px;
    background-color: #ebd8a0;
    position: fixed;
    bottom: 1em;
    display: flex;
    border: 2px solid none;
    z-index: 1;
    justify-content: space-between;
    border-radius: 10px;
    padding: 2px 20px;
    transform: translateX(0.8%);
    align-content: center;
    text-align: center;
}
@media only screen  and (max-height: 600px) {
    .user{
        width: 98.5%;
        height: 45px;
        background-color: #ebd8a0;
        position: fixed;
        bottom: 0;
        display: flex;
        border: 2px solid none;
        z-index: 1;
        justify-content: space-between;
        border-radius: 10px;
        padding: 2px 20px;
    }
}
#cerrarsesion{
    height: fit-content;
    width: fit-content;
    background-color: #df6363;
    margin: auto 0;
    color: black;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}
#cerrarsesion:hover{
    background-color: #af3333;
    color: black;
}
.username{
    font-size: 25px;
    align-content: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.product-table {
    min-width: 100%;
    width: 100%;
    min-height: 10%;
    border-collapse: collapse;
    table-layout: fixed;
    display: table;
    border-radius: 15px;
    overflow: scroll;
    text-align: center;
}

.table-head {
    position: sticky;
    top: 0;
    left: 0;
    height: 10%;
    min-height: 10%;
    max-height: 10%;
    border-radius: 15px;
}

.thgespro {
    border-collapse: collapse;
    padding-bottom: .5rem;
    padding-top: .5rem;
    background-color: #d8c282;
    width: 100%;
    height: 10%;
    display: table-cell;
    height: 100%;
}

.thgespro:first-child {
    border-top-left-radius: 15px;
}

.thgespro:last-child {
    border-top-right-radius: 15px;
}

.tdgespro {
    padding: 0.5em;
}

.product-table .tdgespro {
    padding: .5rem .5rem;
    border-collapse: collapse;
    display: table-cell;
    border-bottom: 1px solid #0002;
}

.table-body::-webkit-scrollbar {
    width: .5rem;
    height: .5rem;
}

.table-body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0004;
}

.table-body .trgespro {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay);
    height: 20px;
    max-height: 20px;
}

.table-body .trgespro.hide {
    opacity: 0;
    transform: translateX(100%);
    height: 1px;
    line-height: 1px;
    max-height: 1px;
    display: none;
}

.table-body .trgespro .tdgespro {
    transition: .2s ease-in-out;
}

.table-body tr.hide .tdgespro {
    padding: 0;
    font: 0 / 0 Montserrat;
    transition: .2s ease-in-out .5s;
}

