* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: fantasy; 
}

section {
  padding-top: 10%;
}
body {
    background-color: #fcedc0;
}
.title{
  font-weight: normal;
  font-style: normal;
  display: inline-flex;
  align-items: center;
  width: 30%;
}
.logo {
  width: 80px;
}
.titulo{
  font-size: 23px;
  margin-bottom: 0;
  margin-top: 0.5%;
  color: #000;
}
ul {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}
li {
  list-style: none;
}
.a {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  font-weight: bolder;
}
.alink {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.a:hover{
  color: #ebd8a0;
}

.action.btn:hover {
  color: #fff;
}

/* Header :) */
.headerindex {
  width: 100%;
  justify-content: center;
  display: flex;
}
.cuadradito{
  position: absolute;
  grid-row: 2;
  z-index: 2;
  bottom: 0;
  width: 60%;
  margin-bottom: 5%;
}
/* Contenedor Carousel */
.contenedor-carousel {
  width: 100%;
  display: flex;
  position: unset;
  align-items: center;
  min-width: fit-content;
}

.carousel {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  position: relative; 
  border-radius: 10px;
  overflow: hidden;
  min-width: fit-content;
  display: flex;
  justify-content: center;
}
 
 .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  border-radius: 10px;
 }
 .carousel-item img {
  height: 100%;
  border-radius: 10px;
  object-fit: contain;
  margin: 0;
  padding: 0;
 
   
 }
 .carousel-caption {
  z-index: 2;
  color: white;
  font-size: large;
  border-radius: 10px;
   
 }
 .carousel-dark .carousel-caption {
  color: #fff; 
  
 }
.navbar {
  position: fixed;
  width: 100%;
  height: 10%;
  max-width: 1200px;
  align-items: center;
  background-color: #df6363;
  padding: 0.5em;
  border-radius: 20px;
  margin-top: 1%;
  display: flex;
  z-index: 1000;
  border: 2px solid black;
  align-content: center;
}

.navbar .links {
  display:flex;
  gap: 2rem;
  font-size: 1px;
  width: 80%;
  justify-content: flex-end;
}
.navbar .toggle_btn {
  color: #fff;
  font-size:1.5rem ;
  cursor: pointer;
  display: none;
}

.btnes {
  width: 10px;
  background-color:#537081;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  transition: 0.2s;
  margin-left: 5%;
  margin-right: 1%;
  width: 20%;
  height: 30px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.btnes:hover {
  transform: scale(1.2);
  color: #fff;
  transition: 0.4s;
}
/* Menu Responsivo :) */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 0.5rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: #f9d158;
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  z-index: 9999;
  margin-top: 5%;
  position: fixed ;
}


.dropdown_menu.open {
  display: block;
  height: 220px;
}
.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;

  justify-content: center;
}

.dropdown_menu .action.btn {
  width: 100%;
  display: flex;

  justify-content: center;
}
.dropdown_ul {
  padding-left: 0;

}
/* Haciendolo Responsivo el NavBar :) */
@media (max-width: 1200px) {
 .navbar .links,
 .navbar .action.btn {
  display: none;
}
@media (max-width: 1400px) {
  .action.btn:hover {
    transform: scale(1.08);
  }
}
.navbar .toggle_btn {
  display: block;
}

.dropdown_menu {
  display: block;
}
}
/* Sección 1 */
.que-es-2 {
  display:grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  margin-bottom: 6.5%; 
  min-width: min-content;

}

/* .adax_letrero_neon {
  grid-row: 1 / 2;
  width: 100%;
  justify-self: center;
  align-self: center;
} */
.pregunta-queEs{
  grid-row: 1/1;
  grid-column: 1/1;
  padding-top: 10px;
  margin:0;
  text-align: center;
  color:#df6363;
  -webkit-text-stroke: 1px black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       font-weight: bold;
}
.text-queEs{
  margin: 0;
  padding-top: 1%;
  text-align: center;
  font-size: 2em;
  color:white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-weight: bold;
}
/* Sección 2 */
.textseccion2{
  margin:0;
  font-size: x-large;
}
.secciontitle {
  font-size: 2em;
  color: #fff;
  -webkit-text-stroke: 1px black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       font-weight: bold;
}

.seccion2 {
  background-color: #df6363;
  height: 100vh;
  text-align: center;
}
.hacer {
  margin-bottom: 5%;
  color:#ebd8a0;
  -webkit-text-stroke: 1px black;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,  
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
      font-weight: bold;
}
.contenedor-seccion2{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 10%;
}

.seccion2 .registrodeventas {
  justify-self: end;
}
.registrodeventas{
  border-radius: 5px;
  background-color: #ebd8a0;
  width: 50%;
  border-radius: 1em;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: min-content;
  grid-column: 1;
  grid-row: 1;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
.controlinv {
  border-radius: 5px;
  background-color: #ebd8a0;
  width: 50%;
  border-radius: 1em;
  display: grid;
  grid-template-rows: min-content;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  box-shadow: 0 5px 10px #000;
  align-content: center;
}
.section2 .controlinv {
  justify-self: start;
}

.mercancia {
  border-radius: 5px;
  background-color: #ebd8a0;
  width: 50%;
  border-radius: 1em;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: min-content;
  grid-column: 1;
  grid-row: 2;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
.seccion2 .mercancia {
  justify-self: end;
}
.flujodecaja {
  border-radius: 5px;
  background-color: #ebd8a0;
  width: 50%;
  border-radius: 1em;
  display: grid;
  grid-template-columns: none;
  grid-template-rows: min-content;
  grid-column: 2;
  grid-row: 2;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.seccion2 .flujodecaja {
  justify-self: start;
}

.seccion3 {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
}
.beneficios {
  margin-bottom: 5%;
  color:#ebd8a0;
  -webkit-text-stroke: 1px black;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       font-weight: bold;
}
.contenedor-seccion3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 5%;
  width: 100vh  ;
  grid-gap: 10%;
}

.ahorro {
  grid-column: 1;
  grid-row: 1;
  background-color: white;
}
.control {
  grid-column: 2;
  grid-row: 1;
  background-color: white;
}

.reportes {
  grid-column: 1;
  grid-row: 2;
  background-color: white;
}

.actualizado {
  grid-column: 2;
  grid-row: 2;
  background-color: white;
}
.ahorro, .control, .reportes, .actualizado {
  border-radius: 1em;
  box-shadow: 0 5px 10px #000;

}

.textseccion3 {
  text-align: center;
}
.siguientenivel {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 5%;
  padding-top: 3%;
  align-items: center;
}
.botonfinal {
  width: 20%;
  height: 50px;
  background-color: #537081 ;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  text-decoration: none;
}
.alink2 {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-size: 1rem;
  font-weight: bold;
}
.botonfinal:hover {
  transform: scale(1.1);
  color: #fff;
  transition: 0.4s;
}

.cohete {
  margin-right: 10px  ;
}
footer {
  background-color: #df6363;
}
.border-top {
  border-top: none !important;
}
hr {
  height: 2px; 
  background-color: black; 
  width: 100%; 
  grid-column: 1/4;
  opacity: 1;
}

.logofooter {
  display: flex;
  height: 60px;
  align-items: center;
  min-width: 300px;
}
.contenedorfooter {
  min-width: min-content;
}