body {
    background-color: #fcedc0;
}

.title {
    font-weight: normal;
    font-style: normal;
}

.contenedorarriba {
    display: flex;
    width: 100%;
    margin: 0px auto;
    margin-top: 3em;
}

@media only screen and (max-height: 800px) {
    .contenedorarriba {
        display: flex;
        width: 100%;
        margin: 0px auto;
    }

}

.adax {
    background-color: #df6363;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    border-radius: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: auto;
    margin-top: 10px;
    text-align: center;

}

.back {
    font-size: 43px;
    border-color: transparent;
    background-color: transparent;
    margin-left: 2em;
    display: inline-block;
    transition: transform 0.3s ease;
}

.back:hover {
    transform: scale(1.2);
}

.exit {
    font-size: 45px;
    border-color: transparent;
    background-color: transparent;
    display: inline-block;
    margin-right: 2em;
    transition: transform 0.3s ease;
}

.exit:hover {
    transform: scale(1.2);
}

.container{
    width: 100%;
    max-width: 85%;
}
.form-control{
    max-width: 90%;
    display: inline-block;
    margin-top: 10px;
    height: 40px;
    border-radius: 15px;
}

#buscar{
    background-color: #df6363;
    margin: 0 0;
    margin-top: 0;
    padding: 5px 40px;
    color: black;
    border-radius: 15px;
    vertical-align: 1px;
    margin-left: 1.4em;
}
#buscar:hover {
    background-color: #af3333;
    color: black;
}


.user {
    width: 98.5%;
    height: 45px;
    background-color: #f1dfa6;
    position: fixed;
    bottom: 1em;
    display: flex;
    border: 2px solid none;
    z-index: 1;
    justify-content: space-between;
    border-radius: 10px;
    padding: 2px 20px;
    transform: translateX(0.8%);
    align-content: center;
    text-align: center;
}

@media only screen and (max-height: 768px) {
    .user {
        width: 98.5%;
        height: 45px;
        background-color: #ecd89c;
        position: fixed;
        bottom: 0;
        display: flex;
        border: 2px solid none;
        z-index: 1;
        justify-content: space-between;
        border-radius: 10px;
        padding: 2px 20px;
    }
}

#cerrarsesion {
    height: fit-content;
    width: fit-content;
    background-color: #df6363;
    margin: auto 0;
    color: black;
    border-radius: 15px;
}

#cerrarsesion:hover {
    background-color: #af3333;
    color: black;
}

.username {
    font-size: 25px;
    align-content: center;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}



.cuadradoverde {
    border-radius: 5px;
    background-color: #ebd8a0;
    padding: 0 0;
    width: 84%;
    height: 32em;
    margin: 0 auto;
    border-radius: 2em;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: auto;
    overflow-x: hidden;
}

#detalle{
    background-color: #df6363;
    margin: 0 0;
    width: 100%;
    margin-top: 0;
    padding: 5px ;
    color: black;
    border-radius: 15px;
    vertical-align: 1px;
    float:inline-start;
    margin-right: 20px;
}
#detalle:hover{
    background-color: #af3333;
    color: black;
}

.facturas-table{
    min-width: 100%;
    width: 100%;
    min-height: 10%;
    border-collapse: collapse;
    table-layout: fixed;
    display: table;
}
.table-head{
    position: sticky;
    top: 0;
    left: 0;
    height: 10%;
    min-height: 10%;
    max-height: 10%;
}
th{
    padding: 0rem 4rem;
    border-collapse: collapse;
    padding-bottom: .5rem;
    background-color: #d8c282;
    width: 100%;
    height: 10%;
    display: table-cell;
    height: 100%;
}
td{
    padding: 0.5em;
}
table, td{
    padding: .5rem 4rem;
    border-collapse: collapse;
    display: table-cell;
}

.table-body::-webkit-scrollbar{
    width: .5rem;
    height: .5rem;
}
.table-body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
}
tbody tr{
    --delay: .1s;
    transition: .5s ease-in-out var(--delay);
    height: 20px;
    max-height: 20px;
}
tbody tr.hide{
    opacity: 0;
    transform: translateX(100%);
    height: 1px;
    line-height: 1px;
    max-height: 1px;
    display: none;
}
tbody tr td{
    transition: .2s ease-in-out;
}
tbody tr.hide td{
    padding: 0;
    font: 0 / 0 Montserrat;
    transition: .2s ease-in-out .5s;
}